
            <div class="row">
                <div class="col-lg-12">

                    <div class="row p-t-6">

                        <form [formGroup]="frmUser"  >
                       

                        <div class="col-md-2">
                            <!-- <div class="form-group"> -->
                                <small class="form-control-feedback">Ingrese usuario</small>
                                <input  type="text" formControlName="usuario"  class="form-control form-control-sm"
                                    [ngClass]="{ 'is-invalid': submitted && frm.usuario.errors }"   />
                                <div *ngIf="submitted && frm.usuario.errors" class="invalid-feedback"> </div>
                                <small class="form-control-feedback">{{mensajeusuario}}</small>
                                <br>
                                <span class="btn-group pull-right"> 
                                    <button    (click)="ingresa()" class="btn btn-info">Ingresar</button>&nbsp;
                                    <button  (click)="salir()"  class="btn btn-info">Salir</button>
                                </span>
                            <!-- </div> -->
                        </div>

                        </form>
                    </div>
                </div>
        </div>
<hr>
<div *ngIf="this.accessok">

<div  style="height: 25px; background-color:#ffffff;">
    <div class="progress" style="height: 20px;background-color:#ffffff;">
        <div  style="height: 25px;width: 100%; background-color:#f5e508;"  >
            <strong>&nbsp;{{mensajeAccesoPerfil}}</strong>
        </div>
    </div>
</div>


<div class="row">

  <div class="col-md-12">
 
        <span class="btn-group pull-right"> 
            <button   *ngIf="!this.showpanel" (click)="nuevoColor()" class="btn btn-info">Nuevo</button>
        </span>
  
      <div class="card">
     


          <div class="card-body">  
  
                       
 
              <div class="table-responsive row" *ngIf="!this.showpanel"> 
                <!-- | slice:0:2 -->
                <div class="col-sm" *ngFor="let item of colores  | paginate : {itemsPerPage: 6, currentPage: pagAct}"> 
                    <div class="card border-success mb-3" style="max-width: 18rem;"> 
                        <div class="button-group pull-left"> 
                            <button  class="btn btn-info" (click)="editaColor(item._id)">e</button>
                            <button class="btn btn-info" (click)="confirmaBorrar(content,item._id)">x</button>
                        </div>
                        <div class="card-header  bg-transparent border-success">{{item.year}}</div>
                        <div class="card-body  text-center">
                          <p class="card-title">{{item.name}}</p>
                          <h5 class="card-text">{{item.color}}</h5>
                        </div>
                        <div class="card-footer card text-right bg-transparent border-success">{{item.pantone}}</div>
                      </div>

                </div>
                <pagination-controls (pageChange)="pagAct = $event" ></pagination-controls>
              </div>

               <ng-template  #content let-c="close" let-d="dismiss">

             
                <div class="modal-body">
                        <h4 class="modal-title">Confirma eliminar el registro</h4>
                </div>
                <div class="modal-footer">  
                    <button type="button" class="btn btn-sm btn-info" (click)="c('SI')">Si</button>
                    <button type="button" class="btn btn-sm btn-secondary" (click)="c('NO')">No</button>
                </div>
            </ng-template> 
              


  
               
              <form *ngIf="this.showpanel" [formGroup]="frmColores" (ngSubmit)="onSubmit()">
                        <h3 class="card-title">
                                <div class="button-group pull-right">
                                    <button  class="btn btn-info">Grabar</button> 
                                    <button type="button" (click)="cancela()"  class="btn btn-info">Cancelar</button>
                                </div>
                        </h3>

       
                      

                   

                        <div class="row">
                                <div class="col-lg-12">
                                  <h5>Informacion del Color</h5>  
  
                                    <div class="row p-t-12">
    
                                        <div class="col-md-1">
                                            <!-- <div class="form-group"> -->
                                                <small class="form-control-feedback">id</small>
                                                <input  type="text"  formControlName="id"   class="form-control form-control-sm"
                                                    [ngClass]="{ 'is-invalid': submitted && frm.id.errors }" />
                                                <div *ngIf="submitted && frm.id.errors" class="invalid-feedback"> 
                                                </div>
        
                                            <!-- </div> -->
                                        </div>

                                        <div class="col-md-3">
                                            <!-- <div class="form-group"> -->
                                                <small class="form-control-feedback">Nombre</small>
                                                <input  type="text" formControlName="name"  class="form-control form-control-sm"
                                                    [ngClass]="{ 'is-invalid': submitted && frm.name.errors }"   />
                                                <div *ngIf="submitted && frm.name.errors" class="invalid-feedback"> 
                                                </div>
                                            <!-- </div> -->
                                        </div>

                                    </div>
                                </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row p-t-12">

                                  
    
                                
    
                                    <div class="col-md-3">
                                        <!-- <div class="form-group"> -->
                                            <small class="form-control-feedback">Color</small> 
                                            <input  type="text" formControlName="color"  class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': submitted && frm.color.errors }"   />
                                            <div *ngIf="submitted && frm.color.errors" class="invalid-feedback"> 
                                            </div>
                                        <!-- </div> -->
                                    </div>
    
                                    <div class="col-md-3">
                                        <!-- <div class="form-group"> -->
                                            <small class="form-control-feedback">Pantone</small>
                                            <input  type="text" formControlName="pantone"  class="form-control form-control-sm"
                                                [ngClass]="{ 'is-invalid': submitted && frm.pantone.errors }"   />
                                            <div *ngIf="submitted && frm.pantone.errors" class="invalid-feedback"> 
                                            </div>
                                        <!-- </div> -->
                                    </div>   

                                    <div class="col-md-3">
                                        <!-- <div class="form-group"> -->
                                            <small class="form-control-feedback">Year</small>
                                            <input  type="text" formControlName="year"  class="form-control form-control-sm"
                                            [ngClass]="{ 'is-invalid': submitted && frm.year.errors }"   />
                                        <div *ngIf="submitted && frm.year.errors" class="invalid-feedback"> 
                                        </div>
                                        <!-- </div> -->
                                    </div> 


                                </div>
                            </div>
                        </div>
 
 


                        <ng-template  #content let-c="close" let-d="dismiss">

                            <div class="modal-header">
                                <h4 class="modal-title">Prefiles</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                            </div>
                        </ng-template>

                 
 
                       

            </form>
              

          </div>
      </div>
  </div>
 
</div>


</div>